
.section-top {
	background: url("../img/section-top-bg.jpg") top center no-repeat;
	background-size: cover;
	position: relative;
	color: #fff;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%);
}

.section-top::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.7);
}

.section-top__header,
.section-top__info {
	position: relative;
	z-index: 2;
}

.section-top__header {	
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-top__menu {
	flex-basis: 62.5%;
}

.section-top__menu ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.section-top__menu li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #f4f5f9;
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 17px;
	transition: all 0.3s ease;
}

.section-top__menu li a:hover {
	color: #e74c3c;
	border-bottom: 2px solid #e74c3c;
}

.section-top__info {
	padding: 190px 0 300px;
	text-align: center;
}

.section-top__info h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1.2px;
	color: #f4f5f9;
}

.section-top__info h1 span {
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 72px;
	font-weight: 600;
	letter-spacing: 7.2px;
	text-transform: uppercase;
	margin: 15px 0;
}

.section-top__devider {
	margin: 20px auto;
}

.section-top__info p {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #cbc6c0;
	display: block;
	max-width: 600px;
	margin: 0 auto;
}

.section-top__info .buttons {
	margin-top: 60px;
}

.section-top__button {
	width: 225px;
	height: 59px;
	line-height: 59px;
	border: 1px solid #fff;
}

.section-top__button:first-child {
	margin-right: 30px;
}

.section-top__button:hover {
	background-color: #e74c3c;
	border-color: #e74c3c;
}

.section-wrap {
	position: relative;
}

.section-wrap__icon a {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 50%;
	bottom: 2.5%;
	transform: translate(-50%, 0);
	border-radius: 50%;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
	text-align: center;
	background-color: #f4f5f9;
}

.section-wrap__icon a img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 980px) {
	.section-top__info h1 span {
		font-size: 42px;
	}

	.section-top__info {
		padding-top: 50px;
	}
}

@media (max-width: 768px) {
	.section-top__header {
		flex-wrap: wrap;
	}

	.section-top__logo {
		flex-basis: 100%;
		text-align: center;
		margin-bottom: 30px;
	}

	.section-top__menu {
		flex-basis: 100%;
	}

	.section-top__info p {
		max-width: 100%;
	}

	.section-top__menu li {
		margin: 5px;
	}

	.section-top__menu li a {
		padding-bottom: 5px;
	}
}

@media (max-width: 560px) {
	.section-top__info .btn {
		display: block;
		margin: 10px auto;
	}

	.section-top__info .buttons .btn:first-child {
		margin: 15px auto;
	}

	.section-top__menu ul {
		justify-content: center;
	}
}